.Skills {
  font: var(--small-2-font);
}

.devider {
  margin-bottom: var(--gap-s);
}

.contentDesktop {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-l);
  margin-left: var(--gap-2s);
  margin-right: var(--gap-l);
  margin-bottom: var(--gap-s);
}

.contentTablet {
  display: none;
  justify-content: space-around;
  gap: var(--gap-l);
  margin-left: var(--gap-2s);
  margin-right: var(--gap-l);
  margin-bottom: var(--gap-s);
}

.contentMobile {
  display: none;
  justify-content: flex-start;
  margin-left: var(--gap-2s);
  margin-right: var(--gap-l);
  margin-bottom: var(--gap-s);
}

.column {
  width: 30%;
  min-width: 130px;
  margin-left: 19px;
}

.addition {
  margin-left: var(--gap-2s);
  margin-bottom: var(--gap-l);
}

li {
  margin-bottom: var(--gap-2s);
  line-height: 1.2;
}
