.Skills {
  font: var(--small-2-font);
}

.devider {
  margin-bottom: var(--gap-s);
}

.content {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-m);
  margin-left: var(--gap-2s);
  margin-right: var(--gap-l);
  margin-bottom: var(--gap-s);
}

.column {
  width: 30%;
  min-width: 130px;
}

.addition {
  margin-left: var(--gap-2s);
  margin-bottom: var(--gap-l);
}
