.SectionTitle {
  display: flex;
  gap: var(--gap-s);
  color: var(--section-title-color);
  align-items: center;
}

.title {
  text-transform: uppercase;
  font: var(--paragraph-font);
}

.line {
  flex-grow: 1;
  border: solid 1px;
}

.iconBlock {
  width: 40px;
  height: 40px;
  border: 2px solid var(--section-title-ring-color);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--section-title-ring-color);
}
