body.dark {
  --bg-body-color: #110b07;

  --bg-ls-color: #192a38;
  --bg-rs-color: #273b4b;

  --bg-sticker-color: #0a141e;

  --bg-image-styles: brightness(0.9) blur(9px) hue-rotate(351deg);

  --section-title-color: #ebebeb;
  --section-title-ring-color: #ebebeb;

  --primary-font-color: #ffffff;
  --primary-font-inversed-color: #ffffff;

  --list-marker-color: #ffffff;
}
