body.dark {
  --bg-body-color: #110b07;

  --bg-ls-color: #fabd89;
  --bg-rs-color: #000000;

  --bg-sticker-color: #f7cba2;

  --primary-font-color: #ffffff;
  --primary-font-inversed-color: #00000;
}