body.light {
  --bg-body-color: #EEF4F8;

  --bg-ls-color: #054276;
  --bg-rs-color: #ffffff;

  --bg-sticker-color: #08345d;

  --primary-font-color: #ffffff;
  --primary-font-inversed-color: #000000;
}