@font-face {
  font-family: "Raleway-normal";
  src: url("../../public/fonts/Raleway-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-italic";
  src: url("../../public/fonts/Raleway-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 900;
  font-style: italic;
}
