@import "./reset.scss";
@import "./fonts.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";
@import "./variables/global.scss";

body {
  background: #054276;
  color: var(--primary-font-color);

  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  backdrop-filter: var(--bg-image-styles);
}
