@import "./reset.scss";
@import "./fonts.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";
@import "./variables/global.scss";

body {
  background: var(--bg-body-color);
  color: var(--primary-font-color);

  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(9px);
}
