.Header {
  height: 80px;
  width: 100%;
  background-color: #0a2036;
  opacity: 95%;
  position: sticky;
  top: 0;
  border-radius: 0px 0px 4px 4px;

  display: flex;
  justify-content: space-between;
  gap: var(--gap-m);
  align-items: center;
  padding-left: var(--gap-m);
  padding-right: var(--gap-m);
}

.switchers {
  display: flex;
  gap: var(--gap-s);
}
