.devider {
  margin-bottom: var(--gap-s);
}

.content {
  display: flex;
  margin-bottom: var(--gap-s);
  padding-right: var(--gap-l);

  .point {
    width: 15%;
    min-width: 130px;
    font: var(--small-font);
  }

  .description {
    width: 85%;

    .organization {
      font: var(--medium-font);
    }

    .department {
      font: var(--medium-font-italic);
    }

    .profession {
      font: var(--small-2-font);
    }
  }
}
