.devider {
  margin-bottom: var(--gap-s);
}

.content {
  display: flex;
  margin-bottom: var(--gap-s);
  padding-right: var(--gap-l);

  .point {
    width: 15%;
    min-width: 130px;
    font: var(--small-font);
  }

  .description {
    width: 85%;

    .organization {
      font: var(--medium-font);
    }

    .position {
      font: var(--medium-font-italic);
      margin-bottom: var(--gap-s);
    }

    .chapterTitle {
      font: var(--small-2-font-bold);
    }

    .list {
      margin-bottom: var(--gap-s);
    }

    li,
    .workDescription {
      font: var(--small-2-font);
    }

    li::marker {
      color: var(--list-marker-color);
    }
  }
}

@media (max-width: 880px) {
  .content {
    padding-right: 0;
  }
}

@media (max-width: 408px) {
  .content {
    flex-direction: column;

    .point {
      font: var(--small-font-bold);
    }

    .description {
      width: 100%;

      .list {
        margin-left: var(--gap-l);
      }
    }
  }
}
