:root {
  // Шрифты
  --font-family-main: Raleway, "Times New Roman", Serif;

  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 32px;

  --font-weight-s: 400;
  --font-weight-m: 700;
  --font-weight-l: 900;


  --main-font: var(--font-weight-s) var(--font-size-m) /1.4 var(--font-family-main);
  --small-font: var(--font-weight-s) var(--font-size-s) /1.4 var(--font-family-main);
  --x-small-font: var(--font-weight-s) var(--font-size-xs) /1.4 var(--font-family-main);
  --sticker-font: var(--font-weight-m) var(--font-size-m) /1.4 var(--font-family-main);

  /* Отступы */
  --gap-2xs: 2px;
  --gap-xs: 4px;
  --gap-2s: 8px;
  --gap-s: 12px;
  --gap-m: 16px;
  --gap-l: 20px;
  --gap-2l: 24px;
  --gap-3l: 32px;
  --gap-4l: 40px;
  --gap-5l: 48px;
  --gap-6l: 56px;
  --gap-xl: 64px;
  --gap-2xl: 72px;
  --gap-3xl: 80px;
  --gap-4xl: 96px;
  --gap-5xl: 128px;

  --gap-2xs-neg: -2px;
  --gap-xs-neg: -4px;
  --gap-2s-neg: -8px;
  --gap-s-neg: -12px;
  --gap-m-neg: -16px;
  --gap-l-neg: -20px;
  --gap-2l-neg: -24px;
  --gap-3l-neg: -32px;
  --gap-4l-neg: -40px;
  --gap-5l-neg: -48px;
  --gap-6l-neg: -56px;
  --gap-xl-neg: -64px;
  --gap-2xl-neg: -72px;
  --gap-3xl-neg: -80px;
  --gap-4xl-neg: -96px;
  --gap-5xl-neg: -128px;
}